body{
    background-image: url("../image/bg-repeat.jpg");
    background-size: contain;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 75px;
    flex-wrap: wrap;
}

.title{
    color: #fff;
}

.title h1{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.title p{
    font-size: 1.5rem;
    font-weight: 400;
    width: 300px;
}

.form{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.form .text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 8px 0 9px 10px;
    border: solid 1px;
    border-radius: 5px;
}

.form .message{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding: 8px 0 60px 10px;
    border: solid 1px;
    border-radius: 5px;
    font-weight: 700;
}

.form .required-fields{
    font-size: 1.5rem;
    margin-top: -7px;
    margin-bottom: 15px;
}

.form .btn{
    background-color: #3CCC87;
    color: #fff;
    padding: 12px 130px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.form .error{
    display: none;
    margin-top: -15px;
    color: #F52E2E;
    font-size: 0.8rem;
}
